.versions/
.users/
.git/
.mypy_cache/
.vscode/
build/
dist/
docs/conf.txt
test/__pycache__
test/.mypy_cache/
test/docs
test/examples
test/cleandoc_log.txt
src/*.egg-info/
src/*/__pycache/
old/
src/
test/
src_save/
package_swoops_log.txt
package_swoops.py
pyproject.toml
